body {
  background-color: rgb(230, 210, 173);
}

h1 {
  color: white;
  
}

h2 {
    color: purple;
    font-size: 30px;
    text-align: center;
    
}

p {
  font-family: purple;
  font-size: 20px;
  
}

figure {
    text-align: center;
    font-style: italic;
}
a {
    color: #2a9d8f;
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    color: #8c34eb;
    text-decoration: underline;
}

a:active {
    color: #e20b0b;
}
.secondary-nav {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #1f9308;
}
header {
    padding: 20px;
}

main {
    padding: 40px;
}

footer {
    padding: 20px;
}