<footer>

        <nav>
            <a href="https://webpages.charlotte.edu/touting1/" target="_blank">CLT Web</a>
            |
            <a href="https://touting1.github.io/" target="_blank">GitHub.io</a>
            |
            <a href="https://github.com/touting1" target="_blank">GitHub</a>
            |
            <a href="https://www.freecodecamp.org/touting1" target="_blank">freeCodeCamp</a>
            |
            <a href="https://www.codecademy.com/profiles/touting1" target="_blank">Codecademy</a>
            |
            <a href="https://www.linkedin.com/in/tyreek-outing-9ba874283" target="_blank">LinkedIn</a>
        </nav>

        <nav>
            Designed by <a href="toutyinc.com/index.html" target="_blank">Touty Inc.</a> ©2026,
            <a href="https://www.freecodecamp.org/certification/touting1/responsive-web-design-v9" target="_blank">
                Certified in Responsive Web Design
            </a>
        </nav>

       


    </footer>