<footer>

        <nav>
            <a href="https://webpages.charlotte.edu/touting1/" target="_blank">Charlotte.edu</a>
            |
            <a href="https://github.com/touting1" target="_blank">Github</a>
            |
            <a href="https://touting1.github.io/" target="_blank">Github.io</a>
            |
            <a href="https://touting1.github.io/itis3135/" target="_blank">ITIS3135.io</a>
            |
            <a href="https://www.freecodecamp.org/touting1" target="_blank">FreeCodeCamp</a>
            |
            <a href="https://www.codecademy.com/profiles/touting1" target="_blank">Codecademy</a>
            |
            <a href="https://www.linkedin.com/in/tyreek-outing-9ba874283" target="_blank">LinkedIn</a>
        </nav>

        <p>
            Designed by <a href="toutyinc.com/index.html" target="_blank">Touty Inc.</a> ©2026
        </p>

        <p>

            <a href="https://validator.w3.org/check?uri=referer" target="_blank">
                Validate HTML
            </a>

            |

            <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">
                Validate CSS
            </a>

        </p>

        <script>
        document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>


    </footer>