<header>
        <h1>ITIS3135 | Tyreek Outing's | Tenacious Octopus</h1>

        <nav>
            <a href="./">Home</a>
            |
            <a href="introduction.html">Introduction</a>
            |
            <a href="contract.html">Contract</a>
            |
            <a href="about.html">About</a>
            |
            <a href="survey.html">Survey</a>
            |
            <a href="inventory.html">Inventory</a>
            |
            <a href="gallery.html">Gallery</a>
            |
            <a href="instructions.html">Instructions</a>
            |
            <a href="highlight.html">Highlight</a>
        </nav>

        <nav class="secondary-nav">
            <strong>Other Links:</strong>
            <a href="stuff/mVnytrain 65$$.htm">Crappy Site</a>
        </nav>
    </header>