<header>
        <h1>Tyreek Outing's Tenacious Octopus | ITIS3135 | </h1>
        

        <nav>
            <a href="./">Home</a>
            |
            <a href="introduction.html">Introduction</a>
            |
            <a href="contract.html">Contract</a>
            |
            <a href="about.html">About</a>
            |
            <a href="survey.html">Survey</a>
            |
            <a href="cards.html">Cards</a>
            |
            <a href="inventory.html">Inventory</a>
            |
            <a href="documentation.html">Documentation</a>
            |
            <a href="product.html">Product</a>
            |
            <a href="website_evaluations.html">Website Evaluations</a>
            |
            <a href="pictures.html">Pictures</a>
        </nav>

        <nav class="secondary-nav">
            <a href="stuff/mVnytrain 65$$.htm">Crappy Site</a>
            |
            <a href=" hobby/index.html">Hobby</a>
        </nav>
    </header>